<h1>記録投稿</h1>
<%= form_with model: @record do |f| %>
  <%= f.label "日付" %>
  <%= f.date_select :r_date, class: "form-control"%><br>

  <%= f.label :comment %>
  <%= f.text_area :comment, class: "form-control"%><br>

  <h3>言語・要素選択</h3>
  <% @langs.each do |lang|%>
    <h4><%= lang.name%></h4>
    <%= collection_check_boxes(:group,:elem_ids, Elem.where(lang_id: lang.id), :id, :name, include_hidden: false)%><hr>
  <% end %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>