<h1><%= @lang.name %></h1>


<% clearnums = [] %>
<% @elems.each do |e| %>
  <% rs = Record.where(user_id: current_user.id) %>
  <% rs.each do |r| %>
    <% r.record_elems.each do |re| %>
      <% if e.id == re.elem.id %>
        <% clearnums.push(e.id) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div align="right", style="font-size:40px;">
  <%= clearnums.uniq.count %>/
  <%= @elems.count %>

</div>



<% if current_user && current_user.admin? %>
  <%= link_to "削除", lang_path(@lang), method: :delete,
                 data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
  <%= link_to "編集", edit_lang_path(@lang), class: "btn btn-warning" %>
<% end %>

<br>

<%= link_to "要素追加", new_lang_elem_path(@lang, @elems), class: "btn btn-primary" %>


<table class="table table-hover">
  <thead>
  <tr>
    <th>要素名</th>
    <th>クリアした人数</th>
    <th>クリアしたか</th>
  </tr>
  </thead>
  <tbody>
  <% @elems_sorted.each do |s| %>
    <% e = Elem.find(s[0]) %>
    <tr>
      <td><%= link_to e.name, lang_elem_path(@lang, e) %></td>
      <td><%= s[1] %></td>
      <td>
        <% if current_user %>
          <% rs = Record.where(user_id: current_user.id) %>
          <% clear = 0 %>
          <% rs.each do |r| %>
            <% clear += r.record_elems.where(elem_id: e.id).count %>
          <% end %>
          <% if clear.zero? %>
            未クリア
          <% else %>
            クリア
          <% end %>
        <% else %>
          未ログインです
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>