<h1><%= @elem.lang.name %></h1>
<h2><%= @elem.name %></h2>

<% if current_user && current_user.admin? %>
  <%= link_to "削除", lang_elem_path, method: :delete,
                 data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
  <%= link_to "編集",  edit_lang_elem_path(@elem.lang, @elem), class: "btn btn-warning" %>
<% end %>

<hr>
<h3>投稿欄</h3>
<% if current_user %>
  <%= form_with model: @post, url: lang_elem_posts_path(@elem.lang, @elem) do |f| %>
    <%= f.text_area :content, class: "form_control", style: "width: 80%; height: 30h;" %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
<% end %>

<% @posts.each do |p| %>
  <%= p.user.name %>: <%= p.content %>
<% end %>


<hr>

<h3>クリアした人一覧</h3>

<% @elem_users.each do |u| %>
  <%= link_to u.name, u %><br>
<% end %>